<link rel="stylesheet" type="text/css" href="/css/index.css">

<center>
<div id="awsdiv">
	<h1>(AMAZON WEB SERVICES)</h1>
	<h2>(AWS) S3 BUCKET DEMO</h2>
	<h5>B Y - S H U B H A M</h5>
	<form method="post" action="/upload" enctype="multipart/form-data">
		<p><input type="file" name="file"></p>
		<input type="submit" name="submit" value="Upload">
	</form>

</div>
</center>